body {
  font-family: 'Arial', sans-serif; 
}

.titulo{
    text-align: center;
}


.painel{
    background-color: #111;
    border-radius: 4px;
    margin: 20px;
    margin-left: 250px; /* Gambiarra para centralizar em tela cheia*/
    padding: 30px;
    width: 700px;
}

#product{
    margin-top: 0px;
    margin-bottom: 0%;
    color: #fffdfd;
}

#price{
    margin-bottom: 0%;
    color:#febe01;
}

.descricao{
    margin-bottom: 0%;
    color: #fffdfd;
}

.anoKM{
    color: #febe01;
}

.botao{
    background-color: #febe01;
    border: none;
    border-radius: 4px;
    color: #332200;
    display: block;
    margin-top: 10px;
    padding: 10px;
}